#---------------------------------------------------------
# Ignore all at start
#---------------------------------------------------------

# Ignore content of root directory, subdirectories and their contents.
# Allow to process the direct contents of dir,
# giving other patterns a chance to “un-exclude” some bit of the content (!dir/sub/)

/*

#---------------------------------------------------------
# Don't ignore those files & paths
#---------------------------------------------------------

!.gitignore
!README.md
!/assets/
!/typo3conf/CoolUriConf.xml
!/typo3conf/AdditionalConfiguration.php
!/composer.json
