// BORDERS
// ============================================================
$borderWidth:       1px;
$borderPadding:     0;
$borderColor:       #CCC;

// MARGINS
// ============================================================
$columnSpacing:     25px;
$rowSpacing:        25px;
$textMargin:        25px;