body {
  color: #000;
  font-family: "Roboto-Regular", Arial, sans-serif;
  line-height: normal;
  font-size: 16px;
  font-size: 1.6rem; }

a {
  color: #D6353B;
  text-decoration: underline; }
  a:hover {
    color: #000;
    text-decoration: none; }

.bottom-gutter {
  margin-bottom: 20px; }

strong {
  font-weight: normal;
  font-family: "Roboto-Regular", Arial, sans-serif; }

.container {
  font-family: "Roboto-Light", Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px; }

@font-face {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflings-regular") format("svg"); }
.glyphicon:before {
  font-size: 28px;
  font-size: 2.8rem;
  vertical-align: middle; }

@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../../fonts/roboto/Roboto-Regular.svg#Roboto-Regular") format("svg"); }
@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../../fonts/roboto/Roboto-Medium.svg#Roboto-Medium") format("svg"); }
@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../../fonts/roboto/Roboto-Bold.svg#Roboto-Bold") format("svg"); }
@font-face {
  font-family: "Roboto-Italic";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/roboto/Roboto-Italic.woff") format("woff"), url("../../fonts/roboto/Roboto-Italic.svg#Roboto-Italic") format("svg"); }
@font-face {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/roboto/Roboto-Light.woff") format("woff"), url("../../fonts/roboto/Roboto-Light.svg#Roboto-Light") format("svg"); }
p {
  margin: 15px 0; }
  p:last-child {
    margin-bottom: 0; }

h1 {
  font-size: 30px;
  font-size: 3rem;
  font-family: "Roboto-Regular", Arial, sans-serif;
  margin: 0 0 30px;
  line-height: 1;
  font-weight: normal; }
  @media (max-width: 719px) {
    h1 {
      font-size: 1.5px;
      font-size: 0.15rem; } }

h2 {
  font-size: 22px;
  font-size: 2.2rem;
  font-family: "Roboto-Regular", Arial, sans-serif;
  margin: 0 0 22px;
  font-weight: normal;
  line-height: 1; }

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Roboto-Regular", Arial, sans-serif;
  margin: 0 0 20px;
  font-weight: normal;
  line-height: 1; }

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Roboto-Regular", Arial, sans-serif;
  margin: 0 0 20px;
  font-weight: normal;
  line-height: 1; }

h5 {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Roboto-Regular", Arial, sans-serif;
  margin: 0 0 18px;
  font-weight: normal; }

h6 {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0 0 18px;
  font-weight: normal; }

.btn {
  border-radius: 0;
  font-family: "Roboto-Regular", Arial, sans-serif;
  text-decoration: none;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 4;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease; }
  @media (max-width: 719px) {
    .btn {
      padding: 0 16px;
      font-size: 15px;
      font-size: 1.5rem;
      line-height: 3; } }

.btn-default {
  background-color: #D6353B;
  padding: 0 16px;
  border: 0;
  color: #fff; }
  .btn-default:hover {
    background-color: #DF555A;
    color: #fff; }

.btn-primary {
  background-color: #fff;
  padding: 0 30px;
  border: 0;
  color: #D6353B; }
  .btn-primary:hover {
    background-color: #F0F0F0;
    color: #D6353B; }
  @media (max-width: 719px) {
    .btn-primary {
      padding: 0 16px; } }

label {
  font-weight: normal;
  font-family: "Roboto-Light", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.8rem; }

.form-control {
  border-radius: 0;
  border-color: #919191;
  padding: 10px;
  height: 60px;
  color: #000;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1; }
  @media (max-width: 719px) {
    .form-control {
      height: 45px; } }

.form-group.checkbox {
  margin-top: 15px;
  margin-bottom: 15px; }

.radio input[type=radio],
.radio-inline input[type=radio],
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
  margin-top: 6px; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #ff3724;
  font-weight: 700; }

.has-error .form-control {
  border-color: #ff3724; }

.has-error .form-message {
  color: #ff3724;
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: right;
  margin: 0; }

.full-bkg {
  background: no-repeat center fixed;
  background-size: cover; }
  .full-bkg.bkg-starter {
    background-image: url("../../images/bkg-start-1.jpg"); }

img {
  max-width: 100%; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.btn-social {
  width: 365px;
  color: #fff; }
  .btn-social.btn-social-fb {
    background-color: #3D5B96; }
  .btn-social.btn-social-google {
    background-color: #DC4C39; }
  .btn-social:hover {
    color: #fff; }
  @media (max-width: 719px) {
    .btn-social {
      width: 100%; } }

nav a {
  padding: 5px; }
nav ul {
  padding: 0;
  margin: 0; }
  nav ul li {
    display: inline-block;
    margin: 0;
    list-style-type: none; }
    nav ul li:first-child:before {
      content: none; }
    nav ul li:before {
      content: '';
      border-left: 1px solid #D6353B;
      margin: 0 5px;
      font-size: 70%;
      vertical-align: middle; }

.cstm-table {
  display: table; }
  .cstm-table .row {
    display: table-row;
    margin: inherit; }
    .cstm-table .row.row-vertical-middle [class^="col-"],
    .cstm-table .row.row-vertical-middle [class*=" col-"] {
      vertical-align: middle; }
  .cstm-table [class^="col-"],
  .cstm-table [class*=" col-"] {
    display: table-cell;
    float: none; }

header {
  background-color: #D6353B;
  height: 80px;
  padding: 5px 0;
  color: #fff;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1000; }
  header .logotype {
    display: inline-block;
    vertical-align: middle; }
    header .logotype img {
      display: block; }
  header .page-header {
    margin: 0;
    font-family: "Roboto-Light", Arial, sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    border: 0; }
    header .page-header:before {
      content: '';
      border-left: 1px solid #fff;
      margin: 0 15px; }
  @media (max-width: 719px) {
    header {
      height: 70px; } }

aside {
  position: fixed;
  z-index: 20;
  left: 0;
  bottom: 0;
  height: calc(100% - 80px);
  font-size: 12px;
  font-size: 1.2rem; }
  aside:before, aside:after {
    content: "";
    display: table; }
  aside:after {
    clear: both; }
  @media (max-width: 719px) {
    aside {
      height: calc(100% - 70px); } }
  aside [class*=level] {
    width: 360px;
    height: 100%;
    float: left;
    background-color: #fff;
    position: relative;
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.25); }
  aside [class*=level-1] {
    z-index: 200; }
  aside [class*=level-2] {
    z-index: 100; }
  aside .filters {
    background-color: #fff; }
    aside .filters > div {
      height: 50px;
      border-bottom: 1px solid #E2E2E2; }
  aside .places {
    height: calc(100% - 100px);
    overflow-y: scroll; }
    aside .places .article {
      display: block;
      border-bottom: 1px solid #E2E2E2;
      text-decoration: none;
      color: #000;
      -webkit-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s; }
      aside .places .article:hover {
        background-color: #E3E3E3; }
      aside .places .article figure {
        width: 100px;
        height: 100px;
        float: left; }
      aside .places .article .details {
        padding: 10px;
        min-height: 100px;
        max-height: 100px;
        overflow: hidden; }
        aside .places .article .details > div, aside .places .article .details li {
          margin-bottom: 5px; }
        aside .places .article .details .menu {
          margin: 0;
          padding: 0;
          list-style-type: none; }
        aside .places .article .details .price {
          color: #D6353B;
          font-family: "Roboto-Bold", Arial, sans-serif;
          font-size: 14px;
          font-size: 1.4rem;
          line-height: 1.14286; }
          aside .places .article .details .price:after {
            content: '';
            border-right: 1px solid #C3C3C3;
            font-size: 9px;
            vertical-align: middle;
            margin: 0 4px; }
  aside .single {
    overflow-y: scroll; }
    aside .single > div {
      padding: 20px; }

.nav-page {
  font-size: 22px;
  font-size: 2.2rem;
  font-family: "Roboto-Light", Arial, sans-serif;
  margin-bottom: 40px; }
  .nav-page li:before {
    margin: 0 50px;
    border-width: 2px; }
  .nav-page .act a {
    text-decoration: none;
    font-family: "Roboto-Medium", Arial, sans-serif; }
  @media (max-width: 719px) {
    .nav-page li {
      display: block; }
      .nav-page li:before {
        content: none; }
    .nav-page a {
      display: block;
      padding: 5px; } }

.form-box {
  width: 430px;
  margin: 0 auto;
  background-color: #fff; }
  @media (max-width: 719px) {
    .form-box {
      width: 100%; } }
  .form-box form {
    padding: 15px; }
  .form-box .form-header {
    background-color: #D6353B;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    height: 60px;
    width: 102%;
    padding: 0 15px;
    position: relative;
    left: -1%;
    top: -3px;
    font-size: 20px;
    font-size: 2rem;
    line-height: 3; }
    @media (max-width: 719px) {
      .form-box .form-header {
        width: 100%;
        left: 0;
        margin-bottom: 0; } }
  .form-box .input-group .form-control {
    width: 98%; }

.form-box-centerd {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

footer {
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%; }
  footer .location {
    background-color: #D6353B;
    color: #fff;
    padding: 5px 10px;
    font-family: "Roboto-Light", Arial, sans-serif;
    float: right; }
    @media (max-width: 1023px) {
      footer .location {
        float: none; } }

/*# sourceMappingURL=main.css.map */
