{namespace n=Tx_News_ViewHelpers}

<article class="row article-type-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}">
    <n:excludeDisplayedNews newsItem="{newsItem}"/>

    <f:if condition="{newsItem.falMedia}">
        <!-- fal media preview element -->
        <f:then>
            <div class="col col__4 col__12--phone">
                <figure>
                    <f:if condition="{newsItem.falMediaPreviews}">
                        <f:then>
                            <n:link newsItem="{newsItem}" settings="{settings}">
                                <f:alias map="{mediaElement: newsItem.falMediaPreviews.0}">
                                    <f:if condition="{mediaElement.originalResource.type} == 2">
                                        <f:image src="{mediaElement.uid}" treatIdAsReference="1" title="{mediaElement.originalResource.title}"
                                                 alt="{mediaElement.originalResource.alternative}"
                                                 maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}"
                                                 width="{settings.list.media.image.width}" height="{settings.list.media.image.height}"/>
                                    </f:if>
                                    <f:if condition="{mediaElement.originalResource.type} == 4">
                                        <f:render partial="Detail/FalMediaVideo" arguments="{mediaElement: mediaElement}"/>
                                    </f:if>
                                </f:alias>
                            </n:link>
                        </f:then>
                        <f:else>
                            <f:if condition="{settings.displayDummyIfNoMedia}">
                                <span class="no-media-element">
                                    <n:link newsItem="{newsItem}" settings="{settings}">
                                        <f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}"
                                                 maxHeight="{settings.list.media.image.maxHeight}"/>
                                    </n:link>
                                </span>
                            </f:if>
                        </f:else>
                    </f:if>
                </figure>
            </div>
        </f:then>

        <f:else>
            <f:if condition="{newsItem.media}">
                <f:then>
                    <div class="col col__4 col__12--phone">
                        <figure>
                            <f:if condition="{newsItem.mediaPreviews}">
                                <f:then>
                                    <n:link newsItem="{newsItem}" settings="{settings}">
                                        <f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
                                            <f:if condition="{mediaElement.type} == 0">
                                                <f:image src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}"
                                                         maxWidth="{settings.list.media.image.maxWidth}"
                                                         maxHeight="{settings.list.media.image.maxHeight}"/>
                                            </f:if>
                                            <f:if condition="{mediaElement.type} == 1">
                                                <f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}"/>
                                            </f:if>
                                            <f:if condition="{mediaElement.type} == 2">
                                                <f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}"/>
                                            </f:if>
                                        </f:alias>
                                    </n:link>
                                </f:then>

                                <f:else>
                                    <f:if condition="{settings.displayDummyIfNoMedia}">
                                            <span class="no-media-element">
                                                <n:link newsItem="{newsItem}" settings="{settings}">
                                                    <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                                                             maxWidth="{settings.list.media.image.maxWidth}"
                                                             maxHeight="{settings.list.media.image.maxHeight}"/>
                                                </n:link>
                                            </span>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </figure>
                    </div>
                </f:then>

                <f:else>
                    <f:if condition="{settings.displayDummyIfNoMedia}">
                        <f:then>
                            <div class="col col__4">
                                <figure>
                                    <n:link newsItem="{newsItem}" settings="{settings}">
                                        <span class="no-media-element">
                                            <f:image src="{settings.list.media.dummyImage}" title="" alt=""
                                                     maxWidth="{settings.list.media.image.maxWidth}"
                                                     maxHeight="{settings.list.media.image.maxHeight}"/>
                                        </span>
                                    </n:link>
                                </figure>
                            </div>
                        </f:then>
                    </f:if>
                </f:else>
            </f:if>

        </f:else>
    </f:if>

    <div class="col col__8 col__12--phone">
        <span class="date"><n:format.date format="%d-%m-%Y">{newsItem.datetime}</n:format.date></span>
        <h2>
            <n:link newsItem="{newsItem}" settings="{settings}">{newsItem.title}</n:link>
        </h2>
        <f:if condition="{newsItem.teaser}">
            <f:then>
                <f:format.raw>
                    <f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1"><p>{newsItem.teaser}</p></f:format.crop>
                </f:format.raw>
            </f:then>
            <f:else>
                <f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.bodytext}</f:format.crop></f:format.html>
            </f:else>
        </f:if>

        <p>
            <n:link newsItem="{newsItem}" settings="{settings}">
                <f:translate key="more-link"/>
            </n:link>
        </p>
    </div>
</article>