{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:comment>
    VHS Assets manual:
    * https://fluidtypo3.org/viewhelpers/vhs/master/Asset/ScriptViewHelper.html
    * https://worksonmymachine.org/blog/asset-handling-with-fluidtypo3
</f:comment>

<v:asset.style path="/{settings.path.css}/typo3_fsc.css" standalone="1" external="1"/>

<v:asset.script path="{settings.path.js.vendors}/jquery-2.2.4.min.js" name="jquery" standalone="1" movable="0"/>
<v:asset.script path="{settings.path.js.main}/main.js" fluid="0" name="main" />





<f:comment>
    <!-- Conditional style for PID in rootline of 21 -->
    <v:condition.iterator.contains needle="21" haystack="{v:page.rootline() -> v:iterator.extract(key: 'uid')}">
        <v:asset.style path="/{settings.path.css}/expo.css" standalone="1" external="1"/>
    </v:condition.iterator.contains>

    <!-- Inline js -->
    <v:asset.script name="inlinejs" fluid="1">
        var cookieBox = new cookieBox({
            privacyPolicy: true,
            //selfPosition: true,
            cookiesPageURL: '<f:uri.page pageUid="9" />',
            textParagraph: '<p><f:translate key="LLL:files/assets/l10n/locallang.xlf:cookieBox.paragraph"/> <a data-cookie-box-url><f:translate key="LLL:files/assets/l10n/locallang.xlf:cookieBox.paragraph.url"/></a></p>'
        });
    </v:asset.script>
</f:comment>