{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:comment>
    VHS Assets manual:
    * https://fluidtypo3.org/viewhelpers/vhs/master/Asset/ScriptViewHelper.html
    * https://worksonmymachine.org/blog/asset-handling-with-fluidtypo3
</f:comment>

<v:asset.style path="{settings.path.css}/mate.css" external="1" standalone="1" />
<v:asset.style path="{settings.path.js.vendors}/slick/slick.css" />
<v:asset.style path="{settings.path.js.vendors}/slick/slick-theme.css" />
<v:asset.style path="{settings.path.js.vendors}/cookiebox/cookiebox.css" />

<v:asset.script path="{settings.path.js.vendors}/jquery-2.2.0.min.js" name="jquery" external="0" standalone="0" movable="0"/>
<v:asset.script path="{settings.path.js.vendors}/slick/slick.min.js" name="slick" dependencies="jquery" />
<v:asset.script path="{settings.path.js.vendors}/cookiebox/cookiebox.js" name="cookiebox" />
<v:asset.script path="{settings.path.js.main}/main.js" fluid="0" name="main" />

<v:asset.script name="inlinejs" fluid="1">
    var cookieBox = new cookieBox({
        privacyPolicy: true,
        //selfPosition: true,
        cookiesPageURL: '<f:uri.page pageUid="9" />',
        textParagraph: '<p><f:translate key="LLL:files/assets/l10n/locallang.xlf:cookieBox.paragraph"/> <a data-cookie-box-url><f:translate key="LLL:files/assets/l10n/locallang.xlf:cookieBox.paragraph.url"/></a></p>'
    });
</v:asset.script>