<f:asset.css identifier="satoshi-font-regular"
             rel="preload"
             href="EXT:cms_setup_kit/Resources/Public/Fonts/Satoshi-Regular.woff2"
             as="font"
             type="font/woff2"
             crossorigin="anonymous"
/>

<f:asset.css identifier="satoshi-font-face" priority="1">
  @font-face {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    src: url({f:uri.resource(path: 'EXT:cms_setup_kit/Resources/Public/_dist/fonts/Satoshi-Regular.woff2')}) format('woff2');
  }
</f:asset.css>
