<f:asset.css identifier="satoshi-font-regular"
             rel="preload"
             href="EXT:cms_setup_kit/Resources/Public/Fonts/Satoshi-Regular.woff2"
             as="font"
             type="font/woff2"
             crossorigin="anonymous"
/>
<f:asset.css identifier="satoshi-font-medium"
             rel="preload"
             href="EXT:cms_setup_kit/Resources/Public/Fonts/Satoshi-Medium.woff2"
             as="font"
             type="font/woff2"
             crossorigin="anonymous"
/>
<f:asset.css identifier="satoshi-font-bold"
             rel="preload"
             href="EXT:cms_setup_kit/Resources/Public/Fonts/Satoshi-Bold.woff2"
             as="font"
             type="font/woff2"
             crossorigin="anonymous"
/>


