<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>
  Generate yours favicons at http://realfavicongenerator.net/
</f:comment>

<link rel="apple-touch-icon" sizes="180x180" href="{settings.path.images}/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{settings.path.images}/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{settings.path.images}/favicons/favicon-16x16.png">
<link rel="manifest" href="{settings.path.images}/favicons/manifest.json">
<link rel="mask-icon" href="{settings.path.images}/favicons/safari-pinned-tab.svg" color="#f7891e">
<link rel="shortcut icon" href="{settings.path.images}/favicons/favicon.ico">
<meta name="msapplication-config" content="{settings.path.images}/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">