<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:variable name="pageInfo" value="{v:page.info()}"/>
<f:variable name="absoluteUrl" value="{v:page.absoluteUrl()}"/>
<f:variable name="defaultDescription" value="{f:translate(key: 'LLL:{settings.path.l10nFile}:defaultDescription')}"/>
<f:variable name="description" value="{f:if(condition: pageInfo.description, then: pageInfo.description, else: defaultDescription)}"/>
<f:variable name="pageImageSrc" value="{v:page.resources.fal(slide: '-1', limit: '1') -> v:iterator.extract(key: 'id', single: '1')}"/>
<f:variable name="fbOgImage" value="{f:uri.image(width: '880c', height: '175c', src: pageImageSrc, treatIdAsReference: 1, absolute: 1)}"/>
<f:variable name="twitterOgImage" value="{f:uri.image(width: '1024c', height: '512c', src: pageImageSrc, treatIdAsReference: 1, absolute: 1)}"/>

<f:render partial="Assets/Meta" arguments="{_all}"/>
<f:render partial="Assets/Favicons" arguments="{_all}"/>
<f:render partial="Assets/Styles" arguments="{_all}"/>