<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>
  <link rel="stylesheet" href="{settings.path.css}/styles.css" media="all">
  <link rel="stylesheet" href="{settings.path.css}/typo3_fsc.css" media="all">
</f:comment>

<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">