<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:comment>
    VHS Assets manual:
    * https://fluidtypo3.org/viewhelpers/vhs/master/Asset/ScriptViewHelper.html
    * https://worksonmymachine.org/blog/asset-handling-with-fluidtypo3
</f:comment>

<!-- Conditional assets for PID in rootline of xx -->
<v:condition.iterator.contains needle="xx" haystack="{v:page.rootline() -> v:iterator.extract(key: 'uid')}">
    <f:then>
        <f:render section="assets-default" />
        <f:render section="assets-for-rootline-xx" />
    </f:then>

    <f:else>
        <f:render section="assets-default" />
    </f:else>
</v:condition.iterator.contains>

<f:section name="assets-default">
    <v:asset.style path="/{settings.path.css}/typo3_fsc.css" standalone="1" external="1"/>

    <v:asset.script path="{settings.path.js.vendors}/jquery-3.2.1.min.js" name="jquery" standalone="1" movable="0"/>
    <v:asset.script path="{settings.path.js.main}/main.js" fluid="0" name="main" />
</f:section>

<f:section name="assets-for-rootline-xx">
    <v:asset.style path="/{settings.path.css}/expo.css" standalone="1" external="1"/>
</f:section>


<f:comment>
    <v:asset.script name="inlinejs" fluid="1">
        var cookieBox = new cookieBox({
            privacyPolicy: true,
            //selfPosition: true,
            cookiesPageURL: '<f:uri.page pageUid="9" />',
            textParagraph: '<p><f:translate key="LLL:{settings.path.l10nFile}:cookieBox.paragraph"/> <a data-cookie-box-url><f:translate key="LLL:{settings.path.l10nFile}:cookieBox.paragraph.url"/></a></p>'
        });
    </v:asset.script>
</f:comment>