<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<!-- Use layout from file (assets/html/layouts) -->
<f:layout name="Subpage.html"/>

<!-- Assets -->
<f:section name="HeaderAssets">
    <f:render partial="Assets/HeaderAssets" arguments="{_all}"/>
</f:section>

<f:section name="FooterAssets">
    <f:render partial="Assets/FooterAssets" arguments="{_all}"/>
</f:section>

<!-- Section for content -->
<f:section name="Content">
    <section>
        <h1>
            <f:if condition="{data.subtitle}">
                <f:then>
                    {data.subtitle}
                </f:then>
                <f:else>
                    {data.title}
                </f:else>
            </f:if>
        </h1>

        <div>
            <f:format.raw>{content-main}</f:format.raw>
        </div>
    </section>

    <aside>
        <f:format.raw>{content-aside}</f:format.raw>
    </aside>
</f:section>
